body {
  text-align: center;
  margin-top: 200px;
  background-color: #061e0a;
  color: #27B73F;
  font-family: myFont;
}

p {
  font-size: 30px;
}

button {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  border: black solid 2px;
  background-color: darkgreen;
}

button:hover {
  background-color: lightgreen;
  box-shadow: 1px 1px 10px black;
}

a {
  color: #27B73F;
  font-size: 20px;;
}

@font-face {
  font-family: "myFont";
  src: url(../pixelFont.otf);
}